<div class="cell divWithBorder">
  <label 
  class="label" 
  id="task.id" 
  *ngIf="!isEditing">
    {{ task.name }}
  </label>
  <input
    id="taskName"
    class="input"
    [placeholder]="placeholder"
    [(ngModel)]="taskInput"
    *ngIf="isEditing"
  />
  <div class="buttonsWrapper">
    <button 
    class="btnEdit" 
    (click)="onEditClicked()" 
    *ngIf="!isEditing">
      Edit
    </button>
    <button 
    class="btnSave" 
    (click)="onUpdateClicked()" 
    *ngIf="isEditing">
      Update
    </button>
    <button 
    class="btnDelete" 
    (click)="onDeleteClicked()">
    Delete
    </button>
  </div>
</div>
