.myHide {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Sofia", sans-serif;
}

body {
  overflow: hidden;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1697221119825-141c5617e52e?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: brightness(0.5);
}

.App {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

#center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;

  width: 50%;
  max-height: calc(100vh - 4rem);
  padding: 10px;
  background-color: #00000069;
  backdrop-filter: blur(1px);

  overflow-y: scroll;
}

#inputZone {
  display: flex;
  padding: 10px;
  align-items: center;
}

#taskName {
  margin-right: 1rem;
}

.input {
  height: 1.6rem;
  border-radius: 10px;
  padding-inline: 0.5rem;
  border: 1px solid #ffffffab;
  color: white;
  background-color: black;
}

.cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
  border: 1px solid;
  padding: 10px;
  margin-top: 1rem;
}

.btnEdit {
  color: black;
  background-color: #ffc107;
}

.btnSave {
  color: white;
  background-color: #198754;
}

.btnDelete {
  color: white;
  background-color: #dc3545;
}

#addBtn {
  color: white;
  background-color: #0d6efd;
}

.btnDelete,
.btnEdit,
.btnSave,
#addBtn {
  display: block;
  min-width: 4rem;
  height: 2rem;
  font-weight: bolder;
  border-radius: 10px;
  margin-inline: 0.5rem;
  border: 1px solid #000000ab;
}

.divWithBorder {
  border: 1px solid #f0f0f0ab;
  border-radius: 15px;
  background-color: #00000069;
}

.buttonsWrapper {
  display: flex;
}

.label {
  margin-left: 0.5rem;
  font-weight: 900;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border: 5px solid transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000006c;
  border: 5px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
