<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>What ToDo?</title>
  <link rel="stylesheet" href="./html/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>

<body>
  <div id="content">
    <div id="background"></div>
    <div id="center" class="divWithBorder">
      <div id="inputZone" class="divWithBorder">
        <input id="taskName" class="input" placeholder="What do u want to do?" />
        <button id="addBtn">Add</button>
      </div>
      <div id="list"></div>
    </div>
  </div>
</body>

</html>